{% extends 'blog/base.html' %}

{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Save <i class="glyphicon glyphicon-floppy-disk" ></i> </button>
        <button type="button" class="saveAsDraft btn btn-primary">Save as draft <i class="glyphicon glyphicon-file" ></i> </button>
    </form>

    <script type="text/javascript">
        $( document ).ready(function() {
            $(".saveAsDraft").on('click', function(){
                const data = $(".post-form").serialize() + "&draft=True";
                $.ajax({
                    type: "POST",
                    url: "/post/new/",
                    data: data,
                    cache: false,
                    dataType: "JSON"
                }).done(function(data) {
                    console.log('gi')
                    if (data.redirect) {
                        window.location.href = '/drafts/';
                    }
                });
            })
        });
    </script>

{% endblock %}